<div role="banner">
    <nav class="navbar">
        <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/logo.png" alt="logo">
        <ul class="navbar-links">
            <li class="navbar-dropdown">
                <a href="#">Home</a>
            </li>
            <li class="navbar-dropdown">
                <a href="#">Dashboard</a>
            </li>
            <li class="navbar-dropdown">
                <a href="#">Pages <fa-icon [icon]="faCartArrowDown" class="faCartArrowDowns"></fa-icon></a>
                <div class="dropdown">
                    <a href="#">category</a>
                    <a href="#">Single Page</a>
                    <a href="#">Storage Single</a>
                    <a href="#">Dashboard</a>
                    <a href="#">User Profile</a>
                    <a href="#">Submit Coupon</a>
                    <a href="#">Blog</a>
                    <a href="#">Single Post</a>
                </div>
            </li>
            <li class="navbar-dropdown">
                <a href="#">Listing <fa-icon [icon]="faCartArrowDown" class="faCartArrowDowns"></fa-icon></a>
                <div class="dropdown">
                    <a href="#">Action</a>
                    <a href="#">Another action </a>
                    <a href="#">Something else here</a>
                </div>
            </li>
            <button class="btn login">Login</button>
            <button class="btns register">
                <fa-icon [icon]="faPlus" class="fas"></fa-icon>
                Add Listing</button>
        </ul>
    </nav>
</div>