<div class="sec5">
    <div class="sec51">
        <div class="sec511"><img
                src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/logo-footer.png" alt=""></div>
        <div class="sec5112">
            <p class="text5112">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="sec51m">
        <h3 class="sec512222"> Site Pages </h3>
        <ul>
            <li class="sec51223"> <a href="" class="sipgs"> Boston </a> </li>
            <li class="sec51223"> <a href="" class="sipgs"> How It works</a> </li>
            <li class="sec51223"> <a href="" class="sipgs"> Deals & Coupons</a> </li>
            <li class="sec51223"> <a href="" class="sipgs"> Articls & Tips</a> </li>
            <li class="sec51223"> <a href="" class="sipgs"> Terms of Services</a> </li>
        </ul>
    </div>
    <div class="sec51b">
        <h3 class="sec512222"> Admin Pages </h3>
        <ul>
            <li class="sec51223"> <a href="" class="sipgs">Boston</a> </li>
            <li class="sec51223"> <a href="" class="sipgs">How It works </a> </li>
            <li class="sec51223"> <a href="" class="sipgs">Deals & Coupons</a> </li>
            <li class="sec51223"> <a href="" class="sipgs">Articls & Tips </a> </li>
            <li class="sec51223"> <a href="" class="sipgs">Terms of Services </a> </li>
        </ul>
    </div>
    <div class="sec52">
        <div class="sec522">
            <img src="  https://georgebrata.ro/alege-un-website/032-classimax-master/images/footer/phone-icon.png"
                alt="">
        </div>
        <div class="sec52222">
            <p class="sec5223">Get the Dealsy Mobile App and Save more</p>
        </div>
    </div>
</div>
<div class="sec6">
    <div class="sec61">
        <p class="sec611">Copyright © 2016. All Rights Reserved</p>
    </div>
    <div class="footer-icons">
        <!-- Social Icons -->
        <!-- <ul class="social-media-icons text-right">
                <li><a class="fa fa-facebook" href=""></a></li>
                <li><a class="fa fa-twitter" href=""></a></li>
                <li><a class="fa fa-pinterest-p" href=""></a></li>
                <li><a class="fa fa-vimeo" href=""></a></li>
            </ul> -->
    </div>
</div>