<section class="main-section3">
    <h1 class="section31">
        Trending Ads
    </h1>
    <p class="section32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam. </p>
    <div class="section3divs">
        <div class="section33divs">
            <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-1.jpg"
                class="imgs" alt="">
            <div>
                <p class="section333p">
                    11 inch Macbook Air
                </p>
            </div>
            <div>
                <div>
                    <fa-icon [icon]="faCloud" class="faCloud"></fa-icon> <span
                        class="faclods sectexts">Electronics</span>
                    <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th
                        December</span>
                </div>
                <div class="scctions34m">
                    <p class="scctions34p sectexts">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
                    </p>
                </div>
                <div class="section3star">
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar1"></fa-icon>
                </div>
            </div>
        </div>
        <div class="section33divs">
            <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-2.jpg"
                class="imgs" alt="">
            <p class="section333p">Full Study Table Combo</p>
            <div>
                <div>
                    <fa-icon [icon]="faCloud" class="faCloud"></fa-icon> <span
                        class="faclods sectexts">Furnitures</span>
                    <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th
                        December</span>
                </div>
                <div class="scctions34m">
                    <p class="scctions34p sectexts">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
                    </p>
                </div>
                <div class="section3star">
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar1"></fa-icon>
                </div>
            </div>
        </div>
        <div class="section33divs">
            <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-3.jpg"
                class="imgs" alt="">
            <div class="scctions34m">
                <p class="section333p sectexts">
                    11 inch Macbook Air
                </p>
            </div>
            <div>
                <div>
                    <fa-icon [icon]="faCloud" class="faCloud"></fa-icon> <span
                        class="faclods sectexts">Electronics</span>
                    <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th
                        December</span>
                </div>
                <div class="scctions34m">
                    <p class="scctions34p sectexts">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
                    </p>
                </div>
                <div class="section3star">
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar"></fa-icon>
                    <fa-icon [icon]="faStar" class="faStar1"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</section>