<div>
    <h1 class="banner2" style="padding: 108px 0px 0px 0px;"> Buy &amp; Sell Near You </h1>
</div>
<p class="bannerp1">Join the millions who buy and sell from each other </p>
<p class="bannerp1" style="margin-top: 10px;"> everyday in local communities around the world </p>
<h4 class="bannerpc">POPULAR CATEGORY </h4>
<div class="bannercat">
    <div class="bannerIcons">
        <fa-icon [icon]="faHotel" class="fasbe"></fa-icon> Hotel
    </div>
    <div class="bannerIcons">
        <fa-icon [icon]="faPersonBooth" class="fasbe"></fa-icon> Fitness
    </div>
    <div class="bannerIcons">
        <fa-icon [icon]="faCar" class="fasbe"></fa-icon> Cars
    </div>
    <div class="bannerIcons">
        <fa-icon [icon]="faUtensilSpoon" class="fasbe"></fa-icon> Restaurants
    </div>
    <div class="bannerIcons">
        <fa-icon [icon]="faMugHot" class="fasbe"></fa-icon> Cafe
    </div>
</div>
<div class="bannerforms">
    <div class="bannerforms1">
        <input type="text" id="fname" class="bannerforminput" placeholder="Search for the store" name="fname">
    </div>
    <div class="bannerforms2">
        <input type="text" id="fname" class="bannerforminput" placeholder="Search for the store" name="fname">
    </div>
    <div class="bannerforms3">
        <button class="buttonSearch">Search</button>
    </div>
</div>