<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div  role="banner">
  <nav class="navbar">
    <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/logo.png" alt="logo">
    
    <ul class="navbar-links">
      <li class="navbar-dropdown">
        <a href="#">Home</a> 
      </li>
      <li class="navbar-dropdown">
        <a href="#">Dashboard</a>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Pages <fa-icon [icon]="faCartArrowDown" class="faCartArrowDowns"></fa-icon></a>
        <div class="dropdown">
          <a href="#">category</a>
          <a href="#">Single Page</a>
          <a href="#">Storage Single</a>
          <a href="#">Dashboard</a>
          <a href="#">User Profile</a>
          <a href="#">Submit Coupon</a>
          <a href="#">Blog</a>
          <a href="#">Single Post</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Listing <fa-icon [icon]="faCartArrowDown" class="faCartArrowDowns"></fa-icon></a>
         <div class="dropdown">
          <a href="#">Action</a>
          <a href="#">Another action </a>
          <a href="#">Something else here</a> 
        </div>
      </li>
      
      <button class="btn login">Login</button>
        <button class="btns register">  
          <fa-icon [icon]="faPlus" class="fas"></fa-icon>
          Add Listing</button>
        

    </ul>
  </nav>
</div>

<!-- banner part -->
<section class="bg-1 " role="banner">
  <div class="banner1">
    <div>

      <h1 class="banner2" style="padding: 108px 0px 0px 0px;">  Buy &amp; Sell Near You  </h1>
    </div>
<p class="bannerp1">Join the millions who buy and sell from each other </p>

<p class="bannerp1" style="margin-top: 10px;"> everyday in local communities around the world  </p>
<h4 class="bannerpc">POPULAR CATEGORY </h4>
<div class="bannercat">
  <div class="bannerIcons"> <fa-icon [icon]="faHotel" class="fasbe"></fa-icon> Hotel</div>
  <div class="bannerIcons"><fa-icon [icon]="faPersonBooth" class="fasbe"></fa-icon> Fitness</div>
  <div class="bannerIcons">  <fa-icon [icon]="faCar" class="fasbe"></fa-icon> Cars</div>
  <div class="bannerIcons"> <fa-icon [icon]="faUtensilSpoon" class="fasbe"></fa-icon> Restaurants</div>
  <div class="bannerIcons"> <fa-icon [icon]="faMugHot" class="fasbe"></fa-icon> Cafe</div>
  
</div>
<div class="bannerforms">
  <div class="bannerforms1">
    <input type="text" id="fname" class="bannerforminput" placeholder="Search for the store" name="fname">
  </div>
  <div class="bannerforms2">
    <input type="text" id="fname" class="bannerforminput" placeholder="Search for the store"  name="fname">
  </div>
  <div class="bannerforms3">
     <button class="buttonSearch">Search</button>
  </div>
</div>

<section class="main-section3">
 
 <h1 class="section31">
  Trending Ads
</h1>
<p class="section32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam. </p>

<div class="section3divs">
<div class="section33divs">
  <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-1.jpg" class="imgs" alt="">
 <div>
  <p class="section333p">
    11 inch Macbook Air
  </p>
 </div>
 
 <div>
  <div>
    <fa-icon [icon]="faCloud" class="faCloud"></fa-icon> <span class="faclods sectexts">Electronics</span>
    <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th December</span> 
  </div>
  <div  class="scctions34m">
    <p class="scctions34p sectexts">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
    </p>
  </div>
  <div class="section3star">
    <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
    <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
    <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
    <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
    <fa-icon [icon]="faStar" class="faStar1"></fa-icon> 
  </div>
</div>
</div>
<div class="section33divs">
  <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-2.jpg" class="imgs"  alt="">
  <p class="section333p">Full Study Table Combo</p>
  <div>
    <div>
      <fa-icon [icon]="faCloud" class="faCloud"></fa-icon> <span class="faclods sectexts">Furnitures</span>
      <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th December</span> 
    </div>
<div  class="scctions34m">
  <p class="scctions34p sectexts">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
  </p>
</div>
<div class="section3star">
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar1"></fa-icon> 
</div>
  </div>
</div>
<div class="section33divs">
  <img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/products/products-3.jpg" class="imgs"  alt="">
  <div  class="scctions34m">
    <p class="section333p sectexts">
      11 inch Macbook Air
    </p>
   </div>
   
   <div>
    <div>
      <fa-icon [icon]="faCloud" class="faCloud"></fa-icon>  <span class="faclods sectexts">Electronics</span>
      <fa-icon [icon]="faCalendar" class="faCalendar"></fa-icon> <span class="faCalendars sectexts">26th December</span> 
    </div>
<div class="scctions34m">
  <p class="scctions34p sectexts">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
  </p>
</div>
<div class="section3star">
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar"></fa-icon> 
  <fa-icon [icon]="faStar" class="faStar1"></fa-icon> 
</div>
   </div>
</div>
</div>

 </section>

  <div class="section4">
  <div class="section411">

    <h1 class="section41 "> All Categories  </h1>
  </div>
  <p  class="section42 sectextss">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident! </p>
  <div class="section42m">
    <div class="sec42b">
      
      <img src="assets/1.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Electronics</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Laptops</a> <span class='sec4no'> 93</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Iphone</a> <span class='sec4no'> 233</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Microsoft</a> <span class='sec4no'> 183</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Monitors</a> <span class='sec4no'> 343</span> </div>
  </div>
    <div class="sec42b">
    
       
      <img src="assets/2.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Restaurants</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Cafe</a> <span class='sec4no'> 93</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Fast food</a> <span class='sec4no'> 23</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Hospitals</a> <span class='sec4no'> 83</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Parolurs</a> <span class='sec4no'> 33</span> </div>
    </div>
    <div class="sec42b"> 
      <img src="assets/3.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Real Estate</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Farms</a> <span class='sec4no'> 93</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Gym</a> <span class='sec4no'> 233</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Microsoft</a> <span class='sec4no'> 183</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Monitors</a> <span class='sec4no'> 343</span> </div>
    </div>
    <div class="sec42b">
      <img src="assets/4.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Shoppings</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Mens Wears</a> <span class='sec4no'> 53</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Accessories</a> <span class='sec4no'> 212</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Kids Wears</a> <span class='sec4no'> 133</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">It & Software</a> <span class='sec4no'> 143</span> </div>
    </div>
  </div>
  
  <div class="section42m2">
    <div class="sec42b">
      
      <img src="assets/5.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Jobs</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">It Jobs</a> <span class='sec4no'> 93</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Cleaning & Washing</a> <span class='sec4no'> 233</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Management</a> <span class='sec4no'> 183</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Voluntary Works</a> <span class='sec4no'> 343</span> </div>
  </div>
    <div class="sec42b">
    
       
      <img src="assets/6.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Vehicles</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Bus</a> <span class='sec4no'> 193</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Cars</a> <span class='sec4no'> 23</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Motobike</a> <span class='sec4no'> 33</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Rent a car</a> <span class='sec4no'> 73</span> </div>
    </div>
    <div class="sec42b"> 
      <img src="assets/7.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Pets</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Cats</a> <span class='sec4no'> 63</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Dogs</a> <span class='sec4no'> 23</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Birds</a> <span class='sec4no'> 113</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Others</a> <span class='sec4no'> 43</span> </div>
    </div>
    <div class="sec42b">
      <img src="assets/8.png" class="sec4imgadj" alt="Image 1">
    <h4 class="sec4es">Services</h4>
    <div class="sec43b"> <a  class='sec4noa' href="">Cleaning</a> <span class='sec4no'> 93</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Car Washing</a> <span class='sec4no'> 233</span> </div>
    <div class="sec43b"> <a  class='sec4noa' href="">Clothing</a> <span class='sec4no'> 183</span> </div>
    <div class="sec43bl"> <a  class='sec4noa' href="">Business</a> <span class='sec4no'> 343</span> </div>
    </div>
  </div>
 
  </div>
  </div>
  <section class="section5">
<div class="sec5">
  <div class="sec51">
    <div class="sec511"><img src="https://georgebrata.ro/alege-un-website/032-classimax-master/images/logo-footer.png" alt=""></div>
  <div class="sec5112">
    <p class="text5112">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  </div>
  <div class="sec51m">
    <h3 class="sec512222"> Site Pages </h3>
    <ul>
      <li class="sec51223">  <a href="" class="sipgs"> Boston </a>   </li>
      <li  class="sec51223"> <a href="" class="sipgs"> How It works</a>   </li>
      <li  class="sec51223"> <a href="" class="sipgs"> Deals & Coupons</a>   </li>
      <li  class="sec51223"> <a href="" class="sipgs"> Articls & Tips</a>   </li>
      <li  class="sec51223"> <a href="" class="sipgs"> Terms of Services</a>   </li>
    </ul>
  </div>
  <div class="sec51b">

    <h3 class="sec512222"> Admin Pages </h3>
    <ul>
      <li class="sec51223"> <a href="" class="sipgs">Boston</a>   </li>
      <li class="sec51223"> <a href="" class="sipgs">How It works </a> </li>
      <li class="sec51223"> <a href="" class="sipgs">Deals & Coupons</a>  </li>
      <li class="sec51223"> <a href="" class="sipgs">Articls & Tips </a> </li>
      <li class="sec51223"> <a href="" class="sipgs">Terms of Services </a> </li>

    </ul>

  </div>
  <div class="sec52">
    <div class="sec522">
      <img src="	https://georgebrata.ro/alege-un-website/032-classimax-master/images/footer/phone-icon.png" alt="">
    </div>
    <div class="sec52222">
      <p class="sec5223">Get the Dealsy Mobile App and Save more</p>
    </div>
  </div>
</div>
  </section>
 <section class="">
  <div class="sec6">

    <div class="sec61"> <p class="sec611">Copyright © 2016. All Rights Reserved</p> </div>
    <div class="footer-icons">
          <!-- Social Icons -->
          <ul class="social-media-icons text-right">
              <li><a class="fa fa-facebook" href=""></a></li>
              <li><a class="fa fa-twitter" href=""></a></li>
              <li><a class="fa fa-pinterest-p" href=""></a></li>
              <li><a class="fa fa-vimeo" href=""></a></li>
            </ul>
        </div>
  </div>
 </section>
 </section>


 
 

<router-outlet></router-outlet>


<!-- git remote add origin https://github.com/sukumar-p/angularLatest.git -->